:root {
    --coefficient : 1;
}

.cell {
    width: calc(90px / var(--coefficient));
    height: calc(90px / var(--coefficient));
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cell > img {
    position: absolute;
    transform: translate(0, -calc(5px / var(--coefficient)));
    width: calc(64px / var(--coefficient));
    height: calc(64px / var(--coefficient));
}

#MapViewerContainer {
    display: flex;
    flex-direction: row;
    left: 5;
    top: 5;
    bottom: 5;
    right: 5;
    justify-content: center;
    align-items: center;
}

.MapHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    position: relative;
    background-color: white;
    top: calc(35px / var(--coefficient));
    font-size: calc(13px / var(--coefficient));
}

.infoName {
    transform: translate(0, -calc(5px / var(--coefficient)));
}